<html>
        <title>first project</title>
    <head>
            <link rel="stylesheet" type="text/css" href="../public/css/bootstrap-theme.css">
            <link rel="stylesheet" type="text/css" href="../public/css/bootstrap-theme.css.map">
            <link rel="stylesheet" type="text/css" href="../public/css/bootstrap-theme.min.css">
            <link rel="stylesheet" type="text/css" href="../public/css/bootstrap-theme.min.css.map">
            <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css">
            <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css.map">
            <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="../public/css/style.css">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            
    <style>
    .jumbotron{ margin-top: 20px;
margin-bottom: 10px;
background-color: rgb(255, 217, 217)}
body {
    font-family: "CABRIA";
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: rgb(255, 146, 146);}
           
            </STYLE>
    <body>
        <DIV CLASS="CONTAINER">
                <DIV CLASS="col-md-3 col-sm-6">
            
        <CENTER><h1 class="jumbotron">BOOTSTRAP</h1>
        <a class="btn btn-default" href="#" role="button">Link</a>

        </div>
        
        
                <DIV CLASS="col-md-3 col-sm-6">
            
        <CENTER><h1 class="jumbotron">BOOTSTRAP</h1>
        <a class="btn btn-default" href="#" role="button">Link</a>
        <!-- Standard button -->

        </div>
        
        
                <DIV CLASS="col-md-3 col-sm-6">
            
        <CENTER><h1 class="jumbotron">BOOTSTRAP</h1>
        <a class="btn btn-default" href="#" role="button">Link</a>
        <!-- Standard button -->

        
        </DIV>
                <DIV CLASS="col-md-3 col-sm-6">
            
        <CENTER><h1 class="jumbotron">BOOTSTRAP</h1>
        <a class="btn btn-default" href="#" role="button">Link</a>
        <!-- Standard button -->

        </div>
        
        <div class="row">
                <div class="col-md-4 col-md-offset-1 col-sm-12">
                    <img src="../public/image/s.jpg" width="350" height="250"></DIV>
                   <DIV CLASS="col-md-4 col-sm-12">
             <p> While Bootstrap uses ems or rems for defining most sizes, pxs are used for grid breakpoints and container widths. This is because the viewport width is in pixels and does not change with the font size.

                    See how aspects of the Bootstrap grid system work across multiple devices with a handy table.
            </p></DIV
            <div class="col-md-4 col-md-offset-1 col-sm-12">
                    <img src="../public/image/s.jpg" width="350" height="250"></DIV></DIV></DIV>
</CENTER>
    </body>
    <script src="../public/js/bootstrap.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>

</html>